<div class="header">
  <%=link_to"Community", posts_path, class: "title" %>
</div>

<div class="contents">
  <% @posts.each do |post| %>
    <div class="contents__box">
      <div class="contents__box__inner">
        <%= link_to post_path(post.id) do%>
          <div class="post-image">
            <img src="<%= "#{post.image}" %>" width="400" height="340"　>
          </div>
        <% end %>
        <div class="post-title">
          <%= post.title %>
          <div class="post-place">
            <small>開催場所</small>
            <div class="post-place1"><%= post.place %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>