<%= form_with(url: posts_search_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents">
  <% @posts.each do |post| %>
    <div class="contents__box">
      <div class="contents__box__inner">
        <%= link_to post_path(post.id) do%>
          <div class="post-image">
            <img src="<%= "#{post.image}" %>" width="400" height="340"　>
          </div>
        <% end %>
        <div class="post-title">
          <%= post.title %>
          <div class="post-place">
            <small>開催場所</small>
            <div class="post-place1"><%= post.place %></div>
          </div>
        </div>
        <div class="aa">
          <div class="man">
            <small>参加人数</small>
            <div class="man1">3人</div>
          </div>
          <div class="date">
            <small>残り</small>
            <div class="date1">30日</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
